{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">




</head>
<body>
   <h1 style="text-align: center;">movies.ui</h1>

   <a class="btn text-white" style="background-color:green;" href="https://movieweb.com" role="button">
    <i class="fab fa-movies.com"></i>
    movies.com
</a> 
<div class="card-group">
    <div class="card">
        <img src="{% static 'images/joker.jpeg' %}" class="card-image-top" style="width: 200px; height: 300px;"  alt="">
        <div class="card-body">
            <h5 class="card-title">card title</h5>
            <p class="card-text justify-content-center">this is movie that hollywood,
                which is crazy man psychiartric film
            </p>
            </div>
            <div class="card-footer justify-content-center">
                <small class="text-muted">recommended</small>
            </div>
         </div>
         <div class="card">
            <img src="{% static 'images/rock.jpeg' %}" class="card-image-top" style="width: 200px; height: 300px;"  alt="">
            <div class="card-body">
                <h5 class="card-title">card title</h5>
                <p class="card-text justify-content-center">this is movie that hollywood,
                    which is crazy man psychiartric film
                </p>
                </div>
                <div class="card-footer justify-content-center">
                    <small class="text-muted">recommended</small>
                </div>
             </div>
             <div class="card">
                <img src="{% static 'images/prabas.jpeg' %}" class="card-image-top" style="width: 200px; height: 300px;"  alt="">
                <div class="card-body">
                    <h5 class="card-title">card title</h5>
                    <p class="card-text justify-content-center">this is movie that hollywood,
                        which is crazy man psychiartric film
                    </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <small class="text-muted">recommended</small>
                    </div>
                 </div>
                 <div class="card">
                    <img src="{% static 'images/joy.jpeg' %}" class="card-image-top" style="width: 200px; height: 300px;"  alt="">
                    <div class="card-body">
                        <h5 class="card-title">card title</h5>
                        <p class="card-text justify-content-center">this is movie that hollywood,
                            which is crazy man psychiartric film
                        </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <small class="text-muted">recommended</small>
                        </div>
                     </div>
                     <div class="card">
                        <img src="{% static 'images/the.jpeg' %}" class="card-image-top" style="width: 200px; height: 300px;"  alt="">
                        <div class="card-body">
                            <h5 class="card-title">card title</h5>
                            <p class="card-text justify-content-center">this is movie that hollywood,
                                which is crazy man psychiartric film
                            </p>
                            </div>
                            <div class="card-footer justify-content-center">
                                <small class="text-muted">recommended</small>
                            </div>
                         </div>
                         <div class="card">
                            <img src="{% static 'images/squad.jpeg' %}" class="card-image-top" style="width: 200px; height: 300px;"  alt="">
                            <div class="card-body">
                                <h5 class="card-title">card title</h5>
                                <p class="card-text justify-content-center">this is movie that hollywood,
                                    which is crazy man psychiartric film
                                </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <small class="text-muted">recommended</small>
                                </div>
                             </div>
                         

        </div>


    <script src="{% static 'js/mdb.min.js' %}"></script>
    
</body>
</html>